
body {
    background: #0E2544;
    color: white;
}

/*************************************************************************
The box
*************************************************************************/

.big-box {
    position: relative;
    width: 100%;
    margin-bottom: 60px;

    background: #0E2544;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}

.nav-bar-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
   
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 8px;
    color: #FFFFFF;
}