
body {
    background: #0E2544;
    color: white;
    margin: 20px;

}
/*************************************************************************
logo
*************************************************************************/

.nav-bar-logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 14px;
    color: goldenrod;
    background-color: rgba(255, 255, 255, 0.205);

    border-radius: 30px;
}

/*************************************************************************
The box
*************************************************************************/

.big-box {
    position: relative;
    width: 100%;
    margin-bottom: 60px;

    background: #0E2544;
    border: 1px solid rgba(255, 208, 0, 0.5);

    box-sizing: border-box;
    border-radius: 30px;
}

/******linkes*****/

.nav-bar-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    margin-left: 17.5%;
    margin-right: 60px;
    z-index: 10;
    background-color: #0e254491;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 8px;
    
    border: 1px solid #ffffffb4;
    border-radius: 10px;   
    padding-left: 14%; 
    padding-right: 14%;
}

p {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.about :hover{
    background-color: rgba(255, 208, 0, 0.300); 
    transition: 700ms;
    width: 100%;
 }
 
 .login :hover{
     background-color: rgba(255, 208, 0, 0.300); 
     transition: 700ms;
     width: 100%;
  }
 
  .product :hover{
     background-color: rgba(255, 208, 0, 0.300); 
     transition: 700ms;
     width: 100%;
  }

/*************************************************************************
Carousel
*************************************************************************/

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.image {
    width: 700px;
    height: 450px;
    border-bottom: 10px;
    border-radius: 20px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 1.5rem;
    color: rgba(255, 208, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 1.5rem;
    color: rgba(255, 208, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.04);
}

/*************************************************************************
Text
*************************************************************************/

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 25px;
    letter-spacing: 2px;
    color: goldenrod;

    margin: 40px;
    margin-left: 20px;

}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: justify;

    margin: 20px;
}

/*************************************************************************
Footer
*************************************************************************/

.line {
    width: 100%;
    height: 0px;
    border: .5px solid #ffffff;
    transform: rotate(180deg);
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 25px;
    letter-spacing: 2px;
    color: rgba(255, 208, 0, 0.5);

    margin: 40px;
    margin-left: 20px;
}
.footer {
    color: rgb(156, 128, 0);
    text-align: center;
    
}

/**********************************************************
for phone screens
*********************************************************/
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px) {
    body{
        font-size: 10px;
    }

/******linkes*****/

    .nav-bar-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        margin-left: 60px;
        margin-right: 60px;
        z-index: 10;
        background-color: #0e254491;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 8px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 2px;
        
        border: 1px solid #ffffffb4;
        border-radius: 10px;   
        padding-left: 0; 
        padding-right: 0;
    }

/******carousel images*****/
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .image {
        width: 300px;
        height: 200px;
        border-bottom: 10px;
        border-radius: 20px;
    }

/******header*****/

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 2px;
        color: goldenrod;

        margin: 40px;
        margin-left: 20px;

    }

/******text*****/

    .text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 25px;
        letter-spacing: 2px;
        color: #FFFFFF;
    
        margin: 20px;
    }

}